<style>
    #page {
        margin-top: 50px;
    }
</style>

<div class="userpage-header">
    <div class="logo"></div>
</div>

<div class="userpage userpage-forgotpass">
    <h1 class="title">Retrieve Password</h1>

    <div class="row">
        <div class="col-sm-6">
            <form ng-submit="forgotpassForm.$valid && forgotpasswd();" role="form" name="forgotpassForm" novalidate>
                <div class="form-group" ng-class="{'has-error':forgotpassForm.$submitted && forgotpassForm.email.$invalid}">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter your email and you'll be contacted shortly with new password" name="email" maxlength="100" required>
                    <div ng-if="forgotpassForm.$submitted && forgotpassForm.email.$error.required" class="error-msg text-danger">Email is empty</div>
                    <div ng-if="forgotpassForm.$submitted && forgotpassForm.email.$error.email" class="error-msg text-danger">Email is invalid</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Retrieve Password</button>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <a ui-sref="login">Back to Login</a>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <img src="assets/img/home_right.jpg" alt="DQC" title="DQC" class="biglogo"/>
        </div>
    </div>
</div>