<div class="dqheader text-primary">
    <h1><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Profile</h1>
</div>

<div class="userpage userpage-profile">
    <form ng-submit="profileForm.$valid && updateProfile();" name="profileForm" novalidate>
        <div class="form-group" ng-class="{'has-error':profileForm.$submitted && profileForm.name.$invalid}">
            <label for="firstname">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your Name" name="name" maxlength="80" required ng-model="profile.name">
            <div ng-if="profileForm.$submitted && profileForm.name.$error.required" class="error-msg text-danger">Name is empty</div>
        </div>
        <div class="form-group" ng-class="{'has-error':profileForm.$submitted && profileForm.email.$invalid}">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your Email" name="email" maxlength="80" required ng-model="profile.email">
            <div ng-if="profileForm.$submitted && profileForm.email.$error.required" class="error-msg text-danger">Email is empty</div>
            <div ng-if="profileForm.$submitted && profileForm.email.$error.email" class="error-msg text-danger">Email is invalid</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your Password" name="password" maxlength="80" required ng-model="password">
            <div ng-if="profileForm.$submitted && profileForm.password.$error.required" class="error-msg text-danger">Password is empty</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Re-Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Enter your Password" name="confirmPassword" maxlength="80" required ng-model="confirmPassword" compare-to="password">
            <div ng-if="profileForm.$submitted && profileForm.confirmPassword.$error.compareTo" class="error-msg text-danger">Passwords don't match</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <a ui-sref="data.console">Back to Dashboard</a>
        </div>
    </form>
</div>
